

body{
    background-color: black; 
    zoom: 195%;
}
.img01{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
}
.head_t{
    width: 550px;
    height: 50px;
    text-align: center;
    background-color: rgb(179, 101, 190);
    position: absolute;
    top: 0px;
    left: 220px;
}
.contact{
    background-color: palevioletred;
    width: 550px;
    height: 145px;
    position: absolute;
    top: 75px;
    left: 220px;
    text-align: center;
}
/*Menu style*/
.menu{
    width: 760px;
    position: absolute;
    top:230px;
    left: 10px;
}
.menu ul{
    list-style: none;
    background-color: rgb(179, 101, 190);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.menu a:hover{
    background-color: rgb(155, 87, 164);
}
.menu li{
    float: left;
}
/*Introduction style*/
.Intro{
    color: rgb(179, 101, 190);
    position: absolute;
    top: 300px;
    margin: 10px;
}
.Intro p{
    width: 600px;
    margin: 20px;
}
/*Amout Me style*/
.About{
    color: rgb(179, 101, 190);
    position:absolute;
    top: 500px;
    margin: 10px;
}
.About p{
    width: 600px;
    margin: 20px;
}

/*Skills*/
.Skills{
    color: rgb(179, 101, 190);
    position: absolute;
    top: 800px;
    margin: 10px;
}
.Skills p{
    width: 600px;
    margin: 20px;
}
/*Projects*/
.Projects{
    color: rgb(179, 101, 190);
    position: absolute;
    top: 950px;
    margin: 10px;
}
.Projects a{

    text-decoration: none;
    color: black;
    background-color: rgb(24, 183, 117);
    width: 50px;
    border-style: inset;

}
/*dowload*/
.DW{
    margin: 10px;
    text-decoration: none;
    color: black;
    background-color: blueviolet;
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 20px;
    width: 80px;
    text-align: center;
    border-style: inset;

}

.email{
    text-align: center;
    background-color: rgb(108, 44, 107);
    position: absolute;
    color: white;
    top: 300px;
    margin: 10px;
    height: 400px;
    width: 730px;
}
.Name{
    position: absolute;
    top: 30px;
    left: 90px;
    zoom: 200%;
    margin: 10px;
}
.Name:hover{
    color: black;
}
.Name input{
    font-size: 7px;
    width: 100px;
    height: 10px;
}
.e_mail{
    position: absolute;
    top: 60px;
    left: 90px;
    zoom: 200%;
    margin: 10px;
}
.e_mail:hover{
    color: black;
}
.e_mail input{
    font-size: 7px;
    width: 100px;
    height: 10px;
    
}
.Massg{
    position: absolute;
    top: 90px;
    left: 90px;
    zoom: 200%;
    margin: 10px;
}
.Massg:hover{
    color: black;}
.Massg textarea{
    font-size: 7px;
    position: absolute;
    top: 0%;
    width: 83px;
    height: 30px;
    left: 60px;

}
.sm{
    position: absolute;
    top: 155px;
    right: 170px;
    zoom: 200%;
}
.sm input{
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-size: 10px;
    height: 20px;
    width: 40px;
    
}
.sm input:hover{
    color: black;
    background-color: white;
}

@media only screen and (max-width: 480px){
    body{
        background-color: azure;
        zoom: 58%
    }
    
}
@media only screen and (min-width: 481px) and (max-width: 767px){
    body{
        background-color: rgb(13, 78, 110);
        zoom: 98%;
    }  
}
/**/