

body{
    background-color: aqua; 
    zoom: 195%;
}
.img01{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
}
.head_t{
    width: 550px;
    height: 50px;
    text-align: center;
    background-color: bisque;
    position: absolute;
    top: 0px;
    left: 220px;
}
.contact{
    background-color: blueviolet;
    width: 550px;
    height: 145px;
    position: absolute;
    top: 75px;
    left: 220px;
    text-align: center;
}
/*Menu style*/
.menu{
    width: 760px;
    position: absolute;
    top:230px;
    left: 10px;
}
.menu ul{
    list-style: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.menu a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;

}
.menu a:hover{
    background-color: rgb(58, 58, 58);
}
.menu li{
    float: left;
}
/*Introduction style*/
.Intro{
    position: absolute;
    top: 300px;
    margin: 10px;
}
.Intro p{
    width: 600px;
    margin: 20px;
}
/*Amout Me style*/
.About{
    position:absolute;
    top: 500px;
    margin: 10px;
}
.About p{
    width: 600px;
    margin: 20px;
}

/*Skills*/
.Skills{
    position: absolute;
    top: 800px;
    margin: 10px;
}
.Skills p{
    width: 600px;
    margin: 20px;
}

@media only screen and (max-width: 480px){
    .img01{
        width: 50px;
        height: 50px;
    }
    .head_t{
        color: blue;
        border: 5px outset green;
        position: absolute;
        top: 50px;
        left: 70px;
        width: 200px;
        height: 50px;
    
}